<div class="contact-page">
  <app-header headerTitle="Contact"></app-header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <ul class="flex flex-wrap align-items-center p-0 m-0">
            <li><a href=""><i class="fa fa-home"></i> Home</a></li>
            <li>Contact</li>
          </ul>
        </div><!-- .breadcrumbs -->
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="row justify-content-between">
      <div class="col-12">
        <div class="title">
          <h3 class="text-center text-teal text-uppercase">
            Leave Message
          </h3>
        </div>
      </div><!-- .col -->

      <div class="col-12 col-lg-6">
        <div class="contact-form">
          <h3>Contact Form</h3>

          <form>
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Your Email">
            <input type="text" placeholder="Subject">
            <textarea placeholder="Your Message" rows="4"></textarea>
            <input type="submit" value="Send Message">
          </form>
        </div><!-- .contact-form -->
      </div><!-- .col -->

      <div class="col-12 col-lg-6">
        <div class="contact-info">
          <h3>Contact Information</h3>

          <p>Pour tout probleme ou suggestion, bien vouloir nous contacter.
          </p>

          <ul class="p-0 m-0">
            <li><span>Location:</span>University of Yaounde 1 , Cameroon</li>
            <li><span>Email:</span><a  href="mailto:dsc.uy1@gmail.com">dsc.uy1@gmail.com</a></li>
            <li><span>Phone:</span><a href="#">699016727 | 695126817</a></li>
          </ul>
        </div><!-- .contact-info -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
  <app-footer></app-footer>
</div>
