<div class="about-page">
  <app-header headerTitle="About Us"></app-header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <ul class="flex flex-wrap align-items-center p-0 m-0">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li>About</li>
          </ul>
        </div><!-- .breadcrumbs -->
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-12">
        <div class="about-heading">
          <h2 class="entry-title" style="font-family: fantasy; color: #00d885; font-weight: bold;">Welcome to DSC</h2>
          <br>
          <p  style="text-align: center; padding-bottom:0; font-size: x-large ;">Developer Student Club, University of Yaounde I.🇨🇲

            We are students👨‍🎓 (not only computer science student) who are looking forward to spreading knowledge across all students. We have to build actions for our community.😊 Join us and let's build together !</p>
        </div><!-- .about-heading -->
      </div><!-- .col -->

    </div><!-- .row -->
  </div><!-- .container -->

  <section class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 align-content-lg-stretch">
          <header class="heading">
            <h2 class="entry-title">About DSC</h2>

            <p>DSC will permit you to become a bigger in tech. we will be able to learning many concepts and technologies in order to development the real apps witch will permit to solve many problems of our community</p>
          </header><!-- .heading -->

          <div class="entry-content ezuca-stats">
            <div class="stats-wrap flex flex-wrap justify-content-lg-between">
              <div class="stats-count">
                500
                <p>STUDENTS LEARNING</p>
              </div><!-- .stats-count -->

              <div class="stats-count">
                11
                <p>DEPARTMENT NUMBER</p>
              </div><!-- .stats-count -->

              <div class="stats-count">
                340<span>M+</span>
                <p>INSTRUCTORS ONLINE</p>
              </div><!-- .stats-count -->

              <div class="stats-count">
                20<span>+</span>
                <p>Country Reached</p>
              </div><!-- .stats-count -->
            </div><!-- .stats-wrap -->
          </div><!-- .ezuca-stats -->
        </div><!-- .col -->

        <div class="col-12 col-lg-6 flex align-content-center mt-5 mt-lg-0">
          <div class="ezuca-video position-relative">
            <div class="video-play-btn position-absolute">
              <img src="assets/images/video-icon.png" alt="Video Play">
            </div><!-- .video-play-btn -->

            <img src="assets/imagesDSC/dscclub.JPG" alt="">
          </div><!-- .ezuca-video -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- .about-section -->

  <section class="testimonial-section">
    <!-- Swiper -->
    <div class="swiper-container testimonial-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                <figure class="user-avatar">
                  <img src="assets/imagesDSC/lead.JPG" alt="">
                </figure><!-- .user-avatar -->
              </div><!-- .col -->

              <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                <div class="entry-content">
                  <p>Ce que je prends à la communauté, je me dois de la rendre</p>
                </div><!-- .entry-content -->

                <div class="entry-footer">
                  <h3 class="testimonial-user">ABDEL AZIZ MFOSSA - <span>LEAD</span></h3>
                </div><!-- .entry-footer -->
              </div><!-- .col -->
            </div><!-- .row -->
          </div><!-- .container -->
        </div><!-- .swiper-slide -->
      </div><!-- .swiper-wrapper -->

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 mt-5 mt-lg-0">
            <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .testimonial-slider -->
  </section><!-- .testimonial-section -->

  <app-footer></app-footer>
</div>
