<div class="about-page">
  <app-header headerTitle="About Us"></app-header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <ul class="flex flex-wrap align-items-center p-0 m-0">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li>About</li>
          </ul>
        </div><!-- .breadcrumbs -->
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="row">
      <div class="col-12">
        <div class="about-heading">
          <h2 class="entry-title">Welcome to DSC</h2>

          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
        </div><!-- .about-heading -->
      </div><!-- .col -->

      <div class="col-12 col-lg-6">
        <div class="about-stories">
          <h3>Our Stories</h3>

          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis eros lobortis, vestibulum turpis
            ac, pulvinar odio. </p>

          <ul class="p-0 m-0 green-ticked">
            <li>Learning program with after-school</li>
            <li>Positive learning environment</li>
            <li>Learning through play</li>
          </ul><!-- .green-ticked -->
        </div><!-- .about-stories -->
      </div><!-- .col -->

      <div class="col-12 col-lg-6">
        <div class="about-values">
          <h3>Our Stories</h3>

          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis eros lobortis, vestibulum turpis
            ac, pulvinar odio. </p>

          <ul class="p-0 m-0 green-ticked">
            <li>Learning program with after-school</li>
            <li>Positive learning environment</li>
            <li>Learning through play</li>
          </ul><!-- .green-ticked -->
        </div><!-- .about-values -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->

  <section class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 align-content-lg-stretch">
          <header class="heading">
            <h2 class="entry-title">About DSC</h2>

            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
          </header><!-- .heading -->

          <div class="entry-content ezuca-stats">
            <div class="stats-wrap flex flex-wrap justify-content-lg-between">
              <div class="stats-count">
                50<span>M+</span>
                <p>STUDENTS LEARNING</p>
              </div><!-- .stats-count -->

              <div class="stats-count">
                30<span>K+</span>
                <p>ACTIVE COURSES</p>
              </div><!-- .stats-count -->

              <div class="stats-count">
                340<span>M+</span>
                <p>INSTRUCTORS ONLINE</p>
              </div><!-- .stats-count -->

              <div class="stats-count">
                20<span>+</span>
                <p>Country Reached</p>
              </div><!-- .stats-count -->
            </div><!-- .stats-wrap -->
          </div><!-- .ezuca-stats -->
        </div><!-- .col -->

        <div class="col-12 col-lg-6 flex align-content-center mt-5 mt-lg-0">
          <div class="ezuca-video position-relative">
            <div class="video-play-btn position-absolute">
              <img src="assets/images/video-icon.png" alt="Video Play">
            </div><!-- .video-play-btn -->

            <img src="assets/images/video-screenshot.png" alt="">
          </div><!-- .ezuca-video -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- .about-section -->

  <section class="testimonial-section">
    <!-- Swiper -->
    <div class="swiper-container testimonial-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                <figure class="user-avatar">
                  <img src="assets/images/user-1.jpg" alt="">
                </figure><!-- .user-avatar -->
              </div><!-- .col -->

              <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                <div class="entry-content">
                  <p>Together as teachers, students and universities we can help make this education available for
                    everyone.</p>
                </div><!-- .entry-content -->

                <div class="entry-footer">
                  <h3 class="testimonial-user">FOTSA ABDEL AZIZ - <span>LEAD</span></h3>
                </div><!-- .entry-footer -->
              </div><!-- .col -->
            </div><!-- .row -->
          </div><!-- .container -->
        </div><!-- .swiper-slide -->
      </div><!-- .swiper-wrapper -->

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 mt-5 mt-lg-0">
            <div class="swiper-pagination position-relative flex justify-content-center align-items-center"></div>
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .testimonial-slider -->
  </section><!-- .testimonial-section -->

  <app-footer></app-footer>
</div>
