
<section class="home-gallery">
    <div class="gallery-wrap flex flex-wrap">
        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/a.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/b.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x2">
            <a href="#"><img src="assets/images/c.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/d.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/e.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x1">
            <a href="#"><img src="assets/images/g.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x1">
            <a href="#"><img src="assets/images/h.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/i.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x2 ">
            <a href="#"><img src="assets/images/j.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/k.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/l.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x1">
            <a href="#"><img src="assets/images/m.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid3x1">
            <a href="#"><img src="assets/images/n.jpg" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/images/o.jpg" alt=""></a>
        </div><!-- .gallery-grid -->
    </div><!-- .gallery-wrap -->
</section><!-- .home-gallery -->