
<section class="home-gallery">
    <div class="gallery-wrap flex flex-wrap">
        <div class="gallery-grid gallery-grid2x1">
            <a href="#"><img src="assets/imagesDSC/dscclub.JPG" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/imagesDSC/leadlong.JPG" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x2">
            <a href="#"><img src="assets/imagesDSC/dsclead.JPG" alt=""></a>
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <a href="#"><img src="assets/imagesDSC/lead.JPG" alt=""></a>
        </div><!-- .gallery-grid -->

    </div><!-- .gallery-wrap -->
</section><!-- .home-gallery -->