    <div class="single-blog-post">
        <app-header headerTitle="{{this.formation?.title}}"></app-header>
        <div class="container">
            <div class="row">
                <div class="col-12 offset-lg-1 col-lg-10">
                    <div class="featured-image">
                        <img  src="{{this.formation?.banner}}" alt="">
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
    
            <div class="row">
                <div class="col-12 offset-lg-1 col-lg-1">
                    <div class="post-share">
                        <h3>share</h3>
    
                        <ul class="flex flex-wrap align-items-center p-0 m-0">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-thumb-tack"></i></a></li>
                        </ul>
                    </div><!-- .post-share -->
                </div><!-- .col -->
    
                <div class="col-12 col-lg-8">
                    <div class="single-course-wrap">
                        <div class="course-info flex flex-wrap align-items-center">
                            <div class="course-author flex flex-wrap align-items-center mt-3">
                                <img src="{{this.formation?.banner}}" alt="image de couverture">
    
                                <div class="author-wrap">
                                    <label class="m-0">Teacher</label>
                                    <div class="author-name"><a>{{this.formation?.user}}</a></div>
                                </div><!-- .author-wrap -->
                            </div><!-- .course-author -->
    
                            <div class="course-cats mt-3">
                                <label class="m-0">Categories</label>
                                <div class="author-name"><a>{{this.formation?.category}}</a></div>
                            </div><!-- .course-cats -->
                        </div><!-- .course-info -->
                        <br>
                        <div class="single-course-cont-section">
                            <h2>What Will I Learn?</h2>
    
                           {{
                               this.formation.objectif
                           }}
    
                            <h2>Requirements</h2>
    
                            {{
                                this.formation.prerequiste
                            }}
    
                            <h2>Description</h2>
    
                            <p>
                                {{this.formation.description}}
                            </p>
    
                            
                        </div>
    
                        <div class="single-course-accordion-cont mt-3">
                            <header class="entry-header flex flex-wrap justify-content-between align-items-center">
                                <h2>Sommaire De La Formation</h2>
    
    
                            </header><!-- .entry-header -->
    
                            <div class="entry-contents">
                                <div class="accordion-wrap type-accordion">
                                    <h3 style="cursor: pointer" (click)="detailLecon(lecon.link)" class="entry-title flex flex-wrap justify-content-between align-items-lg-center active" *ngFor="let lecon of this.formation.lecon">
                                        
                                        <span class="arrow-r"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                                        <span  class="lecture-group-title">{{lecon?.title | uppercase}}</span>
                                        <span class="number-of-lectures">Lecon 1</span>
                                    </h3>
    
                                </div>
                            </div><!-- .entry-contents -->
                        </div><!-- .single-course-accordion-cont  -->
    
                        <div class="instructors-info">
                            <header class="entry-heading">
                                <h2 class="entry-title">Instructors</h2>
                            </header><!-- .entry-heading -->
    
                            <div class="instructor-short-info flex flex-wrap">
                                <div class="instructors-stats">
                                    <img src="{{this.user?.image}}" alt="">
    
                                    <ul class="p-0 m-0 mt-3">
                                       <li><i class="fa fa-star"></i> Redactor</li>
                                    </ul>
                                </div><!-- .instructors-stats -->
    
                                <div class="instructors-details">
    
                                    <div class="course-teacher mt-3">
                                        Teacher: <a href="#">{{this.user?.name}}</a>
                                    </div><!-- .course-teacher -->
    
                                    <div class="entry-content mt-3">
                                        <p>{{this.user?.description}}</p>
                                    </div><!-- .entry-content -->
                                </div><!-- .instructors-details -->
                            </div><!-- .instructor-short-info -->
                        </div><!-- .instructors-info -->
                 
                    </div><!-- .single-course-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    
    </div>
  