
  
  <div class="app-page-title">
      <div class="page-title-wrapper">
          <div class="page-title-heading">
              <div class="page-title-icon">
                  <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                  </i>
              </div>
              <div>Data Tables
                  <div class="page-title-subheading">Choose between regular React Bootstrap tables or
                      advanced dynamic ones.
                  </div>
              </div>
          </div>
          <div class="page-title-actions">
              <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                  class="btn-shadow mr-3 btn btn-dark">
                  <i class="fa fa-star"></i>
              </button>
              <div class="d-inline-block dropdown">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      class="btn-shadow dropdown-toggle btn btn-info">
                      Ajouter un Blog
                  </button>

              </div>
          </div>
      </div>
  </div>
  <div class="main-card mb-3 card">
      <div class="card-body" >

          <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form (submit)="onSubmit()" >
                          <div class="position-relative form-group">
                            <label for="exampleFile" class="">Title</label>
                            <input name="file" id="exampleFile" type="text" class="form-control"  >
                        </div>
                            
                            <div class="card-body">
                              <div class="row">
                                  <div class="col-md-12" >
                                      <ckeditor [editor]="Editor" data=""  name="content" id="editor">
                                      </ckeditor>
                                  </div>
                              </div>
                          </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  