<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                </i>
            </div>
            <div>Ajouter Du Contenu
                <div class="page-title-subheading">creer votre article en remplissant le formulaire ci dessous
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form (submit)="onSubmit()" [formGroup]="blogForm">
                            <div class="position-relative form-group">
                                <label for="exampleFile" class="">Title</label>
                                <input name="file" id="exampleFile" type="text" class="form-control {{ isSubmitted && form.title.errors ? 'is-invalid' : '' }}"
                                    formControlName="title">
                            </div>
                            <div class="position-relative form-group">
                                <label for="examplePassword" class="">Categorie Article</label>
                                <select class="form-control {{ isSubmitted && form.category.errors ? 'is-invalid' : '' }}" formControlName="category" 
                                    *ngFor="let category of this.categories">
                                    <option value="" disabled selected hidden>choose</option>
                                    <option value="{{category.id}}">{{category.title}}</option>
                                </select>
                            </div>
                            <div class="position-relative form-group">
                                <label for="exampleFile" class="">Image Couverture</label>
                                <input class="form-control {{ isSubmitted && form.image.errors ? 'is-invalid' : '' }}" name="file" id="exampleFile" type="text" placeholder="entrer url de image"
                                     formControlName="image">
                            </div>
                            <div class="position-relative form-group">
                                <label for="exampleDescription" class=""> Description </label>
                                <textarea class="form-control {{ isSubmitted && form.description.errors ? 'is-invalid' : '' }}" name="text" id="exampleDescription"
                                    placeholder="entrer une mini description de article" 
                                    formControlName="description">

                              </textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="editor" class=""> Saisir le contenu de l'article </label>
                                    <ckeditor class=" {{ isSubmitted && form.body.errors ? 'is-invalid' : '' }}" [editor]="Editor" data="" name="content" id="editor"
                                        formControlName="body">
                                    </ckeditor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success m-2"
                                        [disabled]=" isLoading">
                                        <p *ngIf="!isLoading" style="font-size: 1.2em; padding: 0px; margin: 5px;"> Ajouter Article</p>
                                       
                                        <div *ngIf="isLoading" style="padding: 15px; ">
                                            <div class="ball-scale-multiple">
                                                <div style="background-color: white;"></div>
                                                <div style="background-color: white;"></div>
                                                <div style="background-color: white;"></div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>