<div class="single-blog-post">
    <app-header headerTitle="Course Title"></app-header>
    <div class="container-fluid">

        <div class="row">
            <div class="col-1 offset-1">
                <div class="post-share">
                    <h3>share</h3>

                    <ul class="flex flex-wrap align-items-center p-2 m-1">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!-- .post-share -->
            </div><!-- .col -->

            <div class="col-lg-6">
                <div class="single-post-wrap" [innerHTML]="course.body">

                </div><!-- .single-post-wrap -->

                <div class="tags-links mt-4">
                    <ul class="d-flex flex-wrap align-items-center p-0 m-0">
                        <li *ngFor="let tag of this.course.tag"><a href="#">{{tag}}</a></li>

                    </ul>
                </div><!-- .tags-links -->


            </div><!-- .col -->
            <div class="sidebar">
                <div class="container mr-1">
                    <div class="search-widget">
                        <form class="flex flex-wrap align-items-center">
                            <input type="search" placeholder="Search...">
                            <button type="submit" class="flex justify-content-center align-items-center"><i
                                    class="fa fa-search"></i></button>
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->
                    <div class="">
                        <div class="latest-courses">
                            <h2>Latest Courses</h2>

                            <ul class="p-0 m-0">
                                <li class="flex flex-wrap justify-content-between align-items-center"
                                    *ngFor="let course of relatedCourses">
                                    <img [src]="course.image" alt="">

                                    <div class="content-wrap">
                                        <h3><a href="#">{{course.title}}</a></h3>

                                        <div class="course-cost free-cost">Official</div>
                                    </div><!-- .content-wrap -->
                                </li>
                            </ul>
                        </div><!-- .latest-courses -->
                    </div>

                    <div class="ads">
                        <img src="assets/images/ads.jpg" alt="">
                    </div><!-- .ads -->


                </div>

            </div>

        </div><!-- .row -->
        <div class="container">

            <div class="col-lg-8">


                <div class="author-box">
                    <div class="author-info flex flex-wrap">
                        <div class="author-avatar">
                            <img src="assets/images/instructor.jpg" alt="">

                            <ul class="author-social-profile p-0 m-0 mt-3 d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- .author-avatar -->

                        <div class="author-details">
                            <h3 class="author-name">{{this.course.user}}<span>Redactor</span></h3>

                            <div class="entry-content mt-3">
                                <p>Hi! I'm Colt. I'm a developer with a serious love for teaching. I've spent the last
                                    few years teaching people to program at 2 different immersive bootcamps where I've
                                    helped hundreds of people become web developers and change their lives. My graduates
                                    work at companies like Google, Salesforce, and Square.</p>
                            </div><!-- .entry-content -->
                        </div><!-- .author-details -->
                    </div><!-- .author-info -->
                </div><!-- .author-box -->
                <div class="post-comments-wrap">
                    <div class="post-comments">
                        <h3 class="comments-title"><span class="comments-number">{{this.commentCourses.length}} Comments</span></h3>

                        <ol class="comment-list">
                            <li class="comment" *ngFor="let comment of this.commentCourses">
                                <article class="comment-body">
                                    <figure class="comment-author-avatar">
                                        <img src="assets/images/avatar.jpg" alt="">
                                    </figure><!-- .comment-author-avatar -->

                                    <div class="comment-wrap">
                                        <div class="comment-author">
                                            <span class="comment-meta d-block">
                                                <a href="#">{{comment.created_at | date:'dd-MMM-yyyy'}}</a>
                                            </span><!-- .comment-meta -->

                                            <span class="fn">
                                                <a href="#">{{comment.name}}</a>
                                            </span><!-- .fn -->
                                        </div><!-- .comment-author -->

                                        <p>{{comment.body}}</p>

                                        <div class="reply">
                                            <a href="#">reply</a>
                                        </div><!-- .reply -->
                                    </div><!-- .comment-wrap -->

                                    <div class="clearfix"></div>
                                </article><!-- .comment-body -->

                                <ol class="children">
                                    <li class="comment" *ngFor="let response of comment.response">
                                        <article class="comment-body">
                                            <figure class="comment-author-avatar">
                                                <img src="assets/images/avatar.jpg" alt="">
                                            </figure><!-- .comment-author-avatar -->

                                            <div class="comment-wrap">
                                                <div class="comment-author">
                                                    <span class="comment-meta d-block">
                                                        <a href="#">{{comment.created_at | date:'dd-MMM-yyyy'}}</a>
                                                    </span><!-- .comment-meta -->

                                                    <span class="fn">
                                                        <a href="#">{{response.name}}</a>
                                                    </span><!-- .fn -->
                                                </div><!-- .comment-author -->

                                                <p>{{response.body}}</p>
                                            </div><!-- .comment-wrap -->

                                            <div class="clearfix"></div>
                                        </article><!-- .comment-body -->
                                    </li><!-- .comment -->
                                </ol><!-- .children -->
                            </li><!-- .comment -->

                        </ol><!-- .comment-list -->
                    </div><!-- .post-comments -->

                    <div class="comments-form">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a comment</h3>

                            <div class="comment-form">
                                <input type="text" placeholder="Name" [(ngModel)]="this.commentName" >
                                <input type="email" placeholder="Email" [(ngModel)]="this.commentEmail" >
                                <textarea rows="4" placeholder="Messages" [(ngModel)]="this.commentBody" ></textarea>
                                <input type="submit" value="send message" (click)="addComment()">
                            </div><!-- .comment-form -->
                        </div><!-- .comment-respond -->
                    </div><!-- .comments-form -->
                </div><!-- .post-comments-wrap -->
            </div>

        </div>
    </div><!-- .container -->
</div>