<div class="formation-page">
    <app-header headerTitle="{{categorySelected}}"></app-header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li>Formation</li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="featured-courses courses-wrap">
                    <div class="row mx-m-25" *ngIf="formations" >
                        <div style="cursor: pointer;" [routerLink]="['/formation-view',formation.slug]" class="col-12 col-md-6 px-25" *ngFor="let formation of formations" >
                            <div class="course-content">
                                <figure class="course-thumbnail">
                                    <a ><img style="max-height: 200px;" src="{{formation.banner}}" alt=""></a>
                                </figure><!-- .course-thumbnail -->

                                <div class="course-content-wrap">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><a ><div [innerHTML]="formation.title"></div></a>
                                        </h2>

                                        <div class="entry-meta flex flex-wrap align-items-center">
                                            <div class="course-author"><a >{{formation.user}}</a></div>

                                            <div class="course-date">{{formation.publish_at | date:'dd-MMM-yyyy'}}</div>
                                        </div><!-- .course-date -->
                                    </header><!-- .entry-header -->

                                    <footer
                                        class="entry-footer flex flex-wrap justify-content-between align-items-center">
                                     
                                        <div class=" flex justify-content-end align-items-center">
                                            <p  style="font-size: medium;">{{formation.description}}</p>
                                        </div><!-- .course-ratings -->
                                    </footer><!-- .entry-footer -->
                                </div><!-- .course-content-wrap -->
                            </div><!-- .course-content -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div *ngIf="!formations"><p>Aucune Formation pour cette Categorie</p></div>
                </div><!-- .featured-formations -->

                <div class="pagination flex flex-wrap justify-content-between align-items-center">
                    <div class="col-12 col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0">
                        <ul class="flex flex-wrap align-items-center order-2 order-lg-1 p-0 m-0">
                            <li *ngIf="this.previousUrl" (click)="getFormationByUrl(this.previousUrl)"><a ><i class="fa fa-angle-left"></i></a></li>
                            <li class="{{ this.activePage===page+1 ? 'active' : '' }}" *ngFor="let page of tablePage" (click)="getAllFormations(page+1)"><a >{{page}}</a></li>
                            <li *ngIf="this.nextUrl" (click)="getFormationByUrl(this.nextUrl)"><a ><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div><!-- .pagination -->
            </div><!-- .col -->

            <div class="col-12 col-lg-4">
                <div class="sidebar">
                    <div class="search-widget">
                        <form class="flex flex-wrap align-items-center">
                            <input type="search" placeholder="Search..." (keyup)="search($event)">
                            <button type="submit" class="flex justify-content-center align-items-center"><i
                                    class="fa fa-search"></i></button>
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->

                    <div class="cat-links">
                        <h2>Categories</h2>

                        <ul class="p-0 m-0">
                            <li style="cursor: pointer;" class="a-cat" (click)="this.getAllFormations(1)" ><a >All</a></li>
                            <li style="cursor: pointer;" class="a-cat" (click)="getFormationByCategories(category)"  *ngFor="let category of categories"><a >{{category.title}}</a></li>
                    
                        </ul>
                    </div><!-- .cat-links -->
                    <div class="latest-courses">
                        <h2>Latest Articles</h2>

                        <ul class="p-0 m-0">
                            <li style="cursor: pointer;" [routerLink]="['/formation-view',latest.slug]" class="flex flex-wrap justify-content-between align-items-center" *ngFor="let latest of latestCourses">
                                <img [src]="latest.banner" alt="">

                                <div class="content-wrap">
                                    <h3><a href="#">{{latest.title}}</a></h3>

                                    <div class="course-cost free-cost">{{latest.user}}</div>
                                </div><!-- .content-wrap -->
                            </li>
                        </ul>
                    </div><!-- .latest-courses -->

                    <div class="ads">
                        <img src="assets/images/ads.jpg" alt="">
                    </div><!-- .ads -->

                    <div class="popular-tags">
                        <h2>Popular Tags</h2>

                        <ul class="flex flex-wrap align-items-center p-0 m-0">
                            <li><a  *ngFor="let tag of tags">{{tag.title}}</a></li>
                        </ul>
                    </div><!-- .popular-tags -->
                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>