<div class="app-page-title">
      <div class="page-title-wrapper">
          <div class="page-title-heading">
              <div class="page-title-icon">
                  <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                  </i>
              </div>
              <div>Data Tables
                  <div class="page-title-subheading">Choose between regular React Bootstrap tables or
                      advanced dynamic ones.
                  </div>
              </div>
          </div>
          <div class="page-title-actions">
              <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                  class="btn-shadow mr-3 btn btn-dark">
                  <i class="fa fa-star"></i>
              </button>
              <div class="d-inline-block dropdown">
                  <button type="button" [routerLink]="['/admin',{outlets:{'admin':'blog-add'}}]" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      class="btn-shadow dropdown-toggle btn btn-info">
                      Ajouter un Blog
                  </button>

              </div>
          </div>
      </div>
  </div>
  <div class="main-card mb-3 card">
      <div class="card-body" style="background-color: whitesmoke;">
          <div class="search-widget" style="width: 300px; ">
              <form class="flex flex-wrap align-items-center">
                  <input type="search" placeholder="Search..." (keyup)="search($event)">
                  <button type="submit" class="flex justify-content-center align-items-center"><i
                          class="fa fa-search"></i></button>
              </form><!-- .flex -->
          </div><!-- .search-widget -->

          <div class="col-12 col-lg-12">
              <div class="featured-courses courses-wrap">
                  <div class="row mx-m-25">
                    <div class="col-12 col-md-4 px-25" *ngFor="let course of courses">
                        <div class="course-content" style="cursor: pointer;" [routerLink]="['/course-content',course.slug]">
                            <figure class="course-thumbnail">
                                <a><img src="{{course.banner}}" alt=""></a>
                            </figure><!-- .course-thumbnail -->

                            <div class="course-content-wrap">
                                <header class="entry-header">
                                    <h2 class="entry-title"><a href="#">{{course.title}}
                                            </a></h2>

                                    <div class="entry-meta flex flex-wrap align-items-center">
                                        <div class="course-author"><a href="#">{{course.user}} </a></div>

                                        <div class="course-date">{{course.publish_at | date:'MMM dd, yyyy'}}</div>
                                    </div><!-- .course-date -->
                                </header><!-- .entry-header -->
                                <footer
                                class="entry-footer flex flex-wrap justify-content-between align-items-center">
                                <div class="course-cost">
                                    <span class="free-cost">{{course.category}}</span>
                                </div><!-- .price-drop -->
                            </footer><!-- .entry-footer -->
                            </div><!-- .course-content-wrap -->
                        </div><!-- .course-content -->
                    </div><!-- .col -->
 
                  </div><!-- .row -->
              </div><!-- .featured-courses -->
          </div><!-- .col -->
      </div>
  </div>